body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* stick it down bottom, with respect to view port height*/
}

header {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;

    padding-left: 7vw;
    padding-right: 7vw;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    /*remove bullets */
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a,
nav a {
    font-size: 23px;
    color: #484040;
    text-decoration: none;
}

main {
    flex: 1;
    /*fills remaining vertical space in between up header, and the footer*/
    padding-bottom: 10px;

    padding-left: 7vw;
    padding-right: 7vw;
}

footer {
    background-color: #333;
    color: #fff;

    padding-top: 10px;

    padding-left: 7vw;
    padding-right: 7vw;
    margin-top: auto;
    /* we push the footer to the bottom */
}


.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logo-icon {
    font-size: 35px;
    color: lightblue;
    text-shadow: 2px 2px 4px #000000;
    margin-right: 10px;
}

.hero-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/img_hero.png");
    height: 500px;
    width:100%;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hero-section p{
    font-size: 25px;
    max-width: 65%;
}